<launch>
    <arg name="omni"        default="true"/>
    <arg name="disc"        default="true"/>
    <arg name="ball_handler"        default="true"/>

    <node name="elecom_gamepad" type="joy_node" pkg="joy" output="screen">
        <param name="coalesce_interval" value="0.01" />
    </node> 

    <rosparam command="load" file="$(find launch_r2)/config/params.yaml"/>

    <group if="$(arg omni)">
        <!-- <rosparam command="load" file="$(find omni)/config/params.yaml"/> -->
        <node name="omni_commander" type="omni_commander" pkg="omni" output="screen"/>
        
        <node name="nucleo_f446re" type="serial_node.py" pkg="rosserial_python" output="screen">
            <param name="port" value="/dev/stm32_omni"/>
            <param name="baud" value="115200" />
        </node>
    </group>

    <group if="$(arg disc)">
        <!-- <rosparam command="load" file="$(find lift_disk2)/config/params.yaml"/> -->
        <!--<node name="disc_catch" pkg="disc" type="disc_catch" required="true">
            <param name="MAXPWM" value="255"/>
        </node>-->
        <!-- <node name="lifting_disk_node" pkg="lifting_disks_joy_sub" type="lifting_disks_joy_sub_node" output="screen" /> -->
        <node name="lift_disk2_node" pkg="lift_disk2" type="lift_disk2_node" output="screen" />
        <node name="serial_node1" pkg="rosserial_python" type="serial_node.py" args="/dev/arduino_disk" output="screen">
            <param name="baud" value="115200" />
            <!-- <param name="baud" value="115200" /> -->
        </node>
        <!--<node name="serial_node2" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM2" output="screen">
            <param name="baud" value="115200" />
        </node> -->
    </group>

    <group if="$(arg ball_handler)">
        <!-- <rosparam command="load" file="$(find ball_handler)/config/params.yaml"/> -->
        <node name="ball_handler" type="ball_handler_node" pkg="ball_handler" output="screen"/>
        
        <node name="ball_handler_arduino" type="serial_node.py" pkg="rosserial_python" output="screen">
            <param name="port" value="/dev/arduino_ball"/>
            <param name="baud" value="115200" />
        </node>
    </group>

</launch>
